<template name="companyInfo">

	<div class="row mrgTop">
		<div class="txtVisb col s1">
			q
		</div>
		<div class=" col s2 ">
			<!-- <p class="">For You </p> 
			<p class="txtVisb">q</p> -->
			<p class="">Nechaya st.29 </p> 
			<p class="">46000 Ternopil </p> 
			<p class="">Tel. 380 930 676 530 </p> 
			<p class="">E-Mail foryou@gmail.com </p> 
			<p class="txtVisb">q</p>
			<p class="">Monday to Friday, </p> 
			<p class="">from 8:30h to 21:00h</p> 
			<p class="txtVisb">q</p>
			<p class="">Saturday to Sunday, </p> 
			<p class="">from 9:00h to 20:00h</p>  
		</div>
		<div class=" col s9 companyMap">
			<div class="map-responsive">
		   	 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d914.9592489558695!2d25.59311010430754!3d49.561993797004554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47303136490d1729%3A0x56ef586122b69260!2z0LLRg9C70LjRhtGPINCf0L7Qu9C60L7QstC90LjQutCwINCU0LDQvdC40LvQsCDQndC10YfQsNGPLCAyOSwg0KLQtdGA0L3QvtC_0ZbQu9GMLCDQotC10YDQvdC-0L_RltC70YzRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1suk!2sua!4v1480440050075" width="600" height="450" frameborder="0" style="border:0; -webkit-filter: grayscale(50%);" allowfullscreen></iframe>
			</div>
		</div>

	</div>
	
</template>