<template name="companyInfo">

	<div class="row mrgTop">
		<div class="txtVisb col s1">
			q
		</div>
		<div class=" col s2 ">
			<!-- <p class="">For You </p> 
			<p class="txtVisb">q</p> -->
			<p class="">Verbitsky st.6 </p> 
			<p class="">46020 Ternopil </p> 
			<p class="">Tel. 380 930 662 337 </p> 
			<p class="">E-Mail foryou@gmail.com </p> 
			<p class="txtVisb">q</p>
			<p class="">Monday to Friday, </p> 
			<p class="">from 8:30h to 21:00h</p> 
			<p class="txtVisb">q</p>
			<p class="">Saturday to Sunday, </p> 
			<p class="">from 9:00h to 20:00h</p>  
		</div>
		<div class=" col s9 companyMap">
			<div class="map-responsive">
		   	 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2588.2329097485454!2d25.626731315699182!3d49.55562837936188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473033fcd8547ea7%3A0x97c80efeb6ebfad2!2z0LLRg9C7LiDQktC10YDQsdC40YbRjNC60L7Qs9C-LCA2LCDQotC10YDQvdC-0L_RltC70YwsINCi0LXRgNC90L7Qv9GW0LvRjNGB0YzQutCwINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1sru!2sua!4v1465675068429" width="600" height="450" frameborder="0" style="border:0; -webkit-filter: grayscale(50%);" allowfullscreen></iframe>
			</div>
		</div>

	</div>
	
</template>