* {
  margin: 0;
  padding: 0;
}
.slider .slides {
  background-color: white;
}
.slider .indicators  {
  position: static;
}
.slider .indicators .indicator-item {
  height: 10px;
  width: 10px;
  margin: 10px 7px;
}

.slider .indicators .indicator-item.active {
  background-color: #212121 ;
}

.sliderHeight{
     height: 545px !important;
}
.sliderImg{
  position: relative;
}
.firstSliderWorFirst{
  font-size: 35px;
  font-family: verdana;
  margin-top: -415px;
  position: absolute;
  margin-left: 325px;
}
.firstSliderWorSec{
  font-size: 25px;
  font-family: verdana;
  margin-top: -355px;
  position: absolute;
  margin-left: 265px;
}
.secSliderWorFirst{
  font-size: 50px;
  font-family: verdana;
  margin-top: -426px;
  position: absolute;
  margin-left: 42%;
}
.secSliderWorSec{
  font-size: 62px;
  font-family: verdana;
  margin-top: -355px;
  position: absolute;
  margin-left: 39%;
}
.firstSliderButt{
  margin-top: -290px;
  position: absolute;
  margin-left: 340px;
  width: 115px;

  box-shadow: 3px 4px 2px -1px rgba(0,0,0,0.75);
  font-family: verdana;
  font-size: 13px;
  background-color: white;
  border: none;
  border-radius: 2px;
  line-height: 30px;
  text-transform: uppercase;
}
.firstSliderButt:focus{
  color:black !important;
  background-color: white !important;
}
.secSliderButtMan{
  margin-top: -250px;
  position: absolute;
  margin-left: 52%;
  width: 115px;
  box-shadow: 3px 4px 2px -1px rgba(0,0,0,0.75);
  font-family: verdana;
  font-size: 13px;
  background-color: white;
  border: none;
  border-radius: 2px;
  line-height: 30px;
  text-transform: uppercase;
}
.secSliderButtMan:focus{
  color:black !important;
  background-color: white !important;
}
.secSliderButtWom{
  margin-top: -250px;
  position: absolute;
  margin-left: 38%;
  width: 115px;

  box-shadow: 3px 4px 2px -1px rgba(0,0,0,0.75);
  font-family: verdana;
  font-size: 13px;
  background-color: white;
  border: none;
  border-radius: 2px;
  line-height: 30px;
  text-transform: uppercase;
}
.secSliderButtWom:focus{
  color:black !important;
  background-color: white !important;
}

.indexUp{
  /*background-color: green;*/
  z-index: 5;
}
.sliderPre{
  opacity: 0.6;
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  margin-top: -310px;
  margin-left: 8%;
}
.sliderNext{
  opacity: 0.6;
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  margin-top: -310px;
  margin-left: 90%;
}
.sliderPre:hover{
  opacity: 0.3;
}
.sliderNext:hover{
  opacity: 0.3;
}


.manHomeElem{
  margin-left: 5%;
  max-width: 90%;
  margin-top: 7%;
}

.manHome{
  margin-top: 1%;
  width: 90%;
}
.newProdMan{
  margin-left: 85%;
  font-size: 12px;
}
.newProdMan:hover{
  text-decoration: underline;
}
.trendsMan{
  font-size: 25px;
  text-align: center;
  margin-top: 6%;
}
.trendsButt{
  margin-top: -38%;
  margin-left: 30%;
  width: 115px;
  font-family: verdana;
  font-size: 13px;
  background-color: white;
  border: none;
  line-height: 30px;
  text-transform: uppercase;
}
.trendsButt:focus{
  color:black !important;
  background-color: white !important;
}
.trendsMainButt{
  margin-top: -90%;
  margin-left: 41%;
  width: 115px;
  font-family: verdana;
  font-size: 13px;
  background-color: white;
  border: none;
  line-height: 30px;
  text-transform: uppercase;
}
.trendsMainButt:focus{
  color:black !important;
  background-color: white !important;
}

.trendsName{
  position: absolute;
  margin-top: 3%;
  margin-left: 100px;
  font-size: 30px;
}
.trendsMainName{
  position: absolute;
  font-size: 50px;
  margin-top: 20%;
  margin-left: 213px;
}