<template name="Home">
      <div class="mrgTop">
        <div class="slider" style="height: 545px !important;">
          <ul class="slides sliderHeight">
            <li>
              <img class="sliderImg" src="/home/dresses_promo.jpg">
              <button id="dresses" class="indexUp firstSliderButt   waves-effect waves-light">shop now</button>
              <p class="indexUp firstSliderWorFirst">30% Off</p>
              <p class="indexUp firstSliderWorSec">on dresses and more</p>
              <img class="indexUp sliderPre " src="/slider_ico/prev_64.png">
              <img class="indexUp sliderNext" src="/slider_ico/next_64.png">
            </li>
            <li>
              <img class="sliderImg" src="/home/sport_promo.jpg"> 
              <button id="sport" class=" indexUp firstSliderButt  waves-effect waves-light">shop now</button>
              <p class="indexUp firstSliderWorFirst">30% Off</p>
              <p class="indexUp firstSliderWorSec">on Sport Start Moving</p>
              <img class="indexUp sliderPre " src="/slider_ico/prev_64.png">
              <img class="indexUp sliderNext" src="/slider_ico/next_64.png">
            </li>
            <li>
              <img class="sliderImg" src="/home/Shoes_Promo.jpg"> 
              <button id="manShoes" class=" indexUp secSliderButtMan  waves-effect waves-light">man</button>
              <button id="womShoes" class=" indexUp secSliderButtWom  waves-effect waves-light">woman</button>
              <p class="indexUp secSliderWorFirst">30% Off</p>
              <p class="indexUp secSliderWorSec">on Shoes</p>
              <img  class="indexUp sliderPre " src="/slider_ico/prev_64.png">
              <img  class="indexUp sliderNext" src="/slider_ico/next_64.png">
            </li>
          </ul>
        </div>
      </div>
        
        <div >
          <p class="trendsMan">#foruandtrends</p>
          <a id="new-man" class="newProdMan" href="">New products - Man</a>
          <div class="row manHome">
            <div class="col s3">
              <div  id="" class="row">
                  <p class="trendsName">Shoes</p>
                  <img  class="manHomeElem" src="/home/left1_try.jpg"> 
                  <button id="shoes-man" class="indexUp trendsButt  waves-effect waves-light">shop now</button>
              </div>
              <div id="" class="row">
                  <p class="trendsName">Shirts</p>
                  <img  class="manHomeElem" src="/home/left2_try.jpg"> 
                  <button id="shirts-man" class="indexUp trendsButt  waves-effect waves-light">shop now</button>
              </div>
            </div>
            <div class="col s6">
                <p class="trendsMainName">T-Shirts</p>
                <img class="manHomeElem" src="/home/main_try.jpg">
                <button id="tShirts-man" class="indexUp trendsMainButt   waves-effect waves-light">shop now</button>
            </div>
            <div class="col s3">
              <div class="row">
                  <p class="trendsName">Jeans</p>  
                  <img class="manHomeElem" src="/home/right2_try.jpg"> 
                  <button id="jeans-man" class="indexUp trendsButt  waves-effect waves-light">shop now</button>
              </div>
              <div class="row">
                  <p class="trendsName">Shorts</p>
                  <img class="manHomeElem" src="/home/right3_try.jpg">
                  <button id="shorts-man" class="indexUp trendsButt  waves-effect waves-light">shop now</button> 
              </div>
            </div>
          </div>
        </div>

</template>