

.btn-top{
  margin-top: 60px;
}

div.block{/*main*/
  	display: inline-block;
  	
  	}
.center{
  text-align: center;
}/*main*/

.firstBlockW{/*blocks*/
  vertical-align: top;
  margin-top: 30px;
	margin-left: 17px;
  margin-right: 10px;
	height: 485px; 
  width: 350px;
	text-align: center;
}
.secondBlockW{
  vertical-align: top;
	margin-top: 30px;
	margin-left: 20px;
	height: 485px; 
  width: 350px;
  text-align: center;
}/*blocks*/
.firstBlock{/*blocks*/
   margin-top: 3%;
  text-align: center;
  

}
.secondBlock{
  margin-top: 3%;
  text-align: center;

}/*blocks*/


.myBtnLog{/*btn viev*/
  color:black !important;
  background-color: white !important;
  border:2px solid black;
  
}
.myBtnLog:hover{
  color:white !important;
  background-color: black !important;
  border:2px solid black;
  box-shadow: 0 0 0px rgba(0,0,0,0.0);
  
}

.input-field input[type=text]:focus + label {
     color: black;
   }
.input-field input[type=text]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
}
 .input-field input[type=text].valid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
}
.input-field input[type=text].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
}
.input-field input[type=email]:focus + label {
     color: black;
   }
.input-field input[type=email]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
}
 .input-field input[type=email].valid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
}
.input-field input[type=email].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
}
.input-field input[type=password]:focus + label {
     color: black;
   }
.input-field input[type=password]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
}
 .input-field input[type=password].valid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
}
.input-field input[type=password].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
}
/*btn viev*/

.logButton{
    width: 100%;
    height: 50px;
}

.singButton{
    width: 100%;
    height: 50px;
}
.logOutWelc{
  text-align: center;
  margin-top: -430px !important;
  font-size: 23px;
  margin-left: 498px;
}
.logOutImg{
  width: 100%;
}
.logOutButt{
  border:2px solid black;
  margin-left: 535px;
  margin-top: 200px;
  width: 188px;
  height: 47px;
  font-family: verdana;
  font-size: 20px;
  background: none;
  color: black;
  text-transform: uppercase;
}
.logOutButt:hover{
  opacity: 0.8;
}
.logOutButt:focus{
  background: none !important;
  color: black !important;
}
.s-alert-box{
    z-index: 1051;
}

.s-alert-error{
    background: black;  /* your background color here */
    color: white;  /* your text color here */
}
.secondBlockMrg{
  margin-top: 7%;
  margin-left: 5%;
  max-width: 90%;
}
.firstBlockMrg{
   margin-top: 7%;
  margin-left: 5%;
  max-width: 90%;
}
.input-field.w{
    margin-top: 0% !important;
}
