<template name="userVisitor">
                <!-- <th class="tableEdit"> -->
                        <!-- <img  class="logButt" id="wishlist" src="/logo_img/2.svg"> -->
                        <!-- <img  class="logButt tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create look" id="createLook" src="/logo_img/6.svg">
                </th> -->
                <th class="tableEdit">
                        <!-- <img  class="logButt" id="wishlist" src="/logo_img/2.svg"> -->
                        <img  class="logButt tooltipped" data-position="bottom" data-delay="50" data-tooltip="Wishlist" id="wishlist" src="/logo_img/2.svg">
                </th>
                
                <th class="tableEdit">
                        <!-- <img  class="logButt " id="bag" src="/logo_img/4.svg">  -->
                        <img  class="logButt tooltipped" data-position="bottom" data-delay="50" data-tooltip="Bag" id="bag" src="/logo_img/4.svg">
                </th>
</template>