<template name="userAdmin">
			<th class="tableEdit">
	            <!-- <img  class="logButt" id="createEdit" src="/logo_img/1.svg"> -->
	            <img  class="logButt tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create" id="createEdit" src="/logo_img/1.svg">
	        </th>
	        <th class="tableEdit">
	           <!--  <img  class="logButt" id="ordersInfo" src="/logo_img/box1.svg"> -->
	            <img  class="logButt tooltipped" data-position="bottom" data-delay="50" data-tooltip="Orders" id="ordersInfo" src="/logo_img/box1.svg">
	        </th>
</template>