.logOutModal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 69%;
  width: 55%;
  margin: auto;
  overflow-y: hidden;
  border-radius: 2px;
}