.firstOrdersBlock{
	margin-left:230px;
}
.secOrdersBlock{
	position: fixed;
	margin-top: 40px;
	max-width: 250px;
	/*background: red;*/
}
.imgOrdersList{	
	display: inline-block;
	margin-left: 87px;
	margin-bottom: 50px;
    }
.imgOrdersSizes{
	height: 500px;
   	width: 390px;
   	max-width: 100%;
	max-height: 100%;
}
.imgOrdersViev{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 0%;
	z-index: 1;
}
.textOrdersViev{
	font: 14px Verdana;
	text-decoration:none;
	margin-top: 10px;
}
.textOrdersInf{
	font: 16px Verdana;
	text-decoration: none;
	margin-top: 15px;
}
.orersBtn{/*btn viev*/
	margin-left: 11%;
	margin-top: 30px;
	width: 260px;
	height: 45px;
	color:white ;
	background-color: black ;
	border:2px solid black ;
}
.orersBtn:hover{
	color:black ;
	background-color: white ;
	border:2px solid black;
	box-shadow: 0 0 0px rgba(0,0,0,0.0);
	
}
.orersBtn:focus{
	color:black ;
	background-color: white ;
}