.boxItems{
	max-width: 300px;
	max-height: 300px;
	margin-left: 130px;
}
.orderItems{
	display: inline-block;
}
.orderId{
	position: absolute;
    margin-top: -9%;
    font-size: 14px;
    margin-left: 172px;
}
.boxItems2{
	max-width: 280px;
	max-height: 280px;
}
.orderItems2{
	display: inline-block;
}
.orderId2{
	position: absolute;
    margin-top: -3%;
    font-size: 14px;
    margin-left: 31px;
}
.wishBtn2{
	margin-left: 60% !important;
	margin-top: 13px !important;
}


.ords{
	width: 288px;
	height: 288px;
	border: 4px double black;
	display: inline-block;
	margin-left: 10%;
	margin-top: 4%;
}