<template name="ordersInfo">
	<div class="mrgTop">
			{{#each orders}}
			<!-- <div id="order" class="orderItems">
				<img  class="boxItems" id="" src="/logo_img/boxItems.png">
				<p class="orderId">№ {{_id}}</p>
			</div>
			<button id="orderDone" class="wishBtn">Delete</button>  -->
			<div class="ords">
				<img  class="boxItems2" id="order" src="/size_info_img/for_you_shop.jpg">
				<p class="orderId2" id="order">Order № {{_id}}</p>
				<button id="orderDone" class="wishBtn2 wishBtn">Delete</button> 
			</div>
			{{/each}}

	</div>
</template>